<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TargetMailID" value="vishnu.bose@claysys.net" />
    <add key="ApiURL" value="http://syslp308.claysys.com:90/forms/api/appforms" />
    <add key="Auth" value="admin:123" />
    <add key="FromAddressControl" value="TxtFromAddress" />
    <add key="ToAddressControl" value="TxtToAddress" />
    <add key="MailBodyControl" value="TxtMailBody" />
    <add key="mailSubjectControl" value="TxtMailSubject" />
    <add key="TriggerControl" value="Button1" />
    <add key="FormID" value="EDF03F67-F503-4060-A645-5C5898796C9F" />
    <add key="TenantId" value="default" />
    <add key="Domain" value="claysys" />
  </appSettings>

  <connectionStrings>

    <add name="CRMConnectionString" connectionString="Server=52.183.90.118;Database=MRMBusinessDataDev;User ID=sa;Password=M6m@d1mnCl@ySy5;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <!-- <add name="CRMConnectionString" connectionString="Server=52.183.90.118;Database=MRM_Appforms_Meta_Azure;User ID=sa;Password=M6m@d1mnCl@ySy5;Connect Timeout=30" providerName="System.Data.SqlClient" />
  <add name="ADBDataConnectionString" connectionString="Server=52.183.90.118;Database=MRM_Appforms_ADB_Azure;User ID=sa;Password=M6m@d1mnCl@ySy5;" providerName="System.Data.SqlClient" />  MRM PROD -->

    <!-- <add name="CRMConnectionString" connectionString="Server=52.183.90.118;Database=MRM_Appforms_Meta;User ID=sa;Password=M6m@d1mnCl@ySy5;Connect Timeout=30" providerName="System.Data.SqlClient" />
  <add name="ADBDataConnectionString" connectionString="Server=52.183.90.118;Database=MRM_Appforms_ADB;User ID=sa;Password=M6m@d1mnCl@ySy5;" providerName="System.Data.SqlClient" />   -->

    <!-- <add name="CRMConnectionString" connectionString="Server=SYSLP308;Database=AppFormsEnt;User ID=sa;Password=sa123$;Connect Timeout=30" providerName="System.Data.SqlClient" />
  <add name="ADBDataConnectionString" connectionString="Server=SYSLP308;Database=AppFormsDataForm;User ID=sa;Password=sa123$;Integrated Security=SSPI;" providerName="System.Data.SqlClient" /> -->

    <!--<add name="CRMConnectionString" connectionString="Server=syslp308;Database=VB_POC;User ID=sa;Password=sa123$;Connect Timeout=30" providerName="System.Data.SqlClient" />-->

    <!-- 
    <add name="CRMConnectionString" connectionString="Server=sys191;Database=azure_6081_db;User ID=sa;Password=sa123$;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="ADBDataConnectionString" connectionString="Server=sys191;Database=azure_6081_adb;User ID=sa;Password=sa123$;Integrated Security=SSPI;" providerName="System.Data.SqlClient" /> -->

  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
